P {font-family: " 宋体 "; color: green; background-color: yellow; font-size: 9pt; }
h1,h2 {font-family: " 隶书 ", " 宋体 "; color:#FF8800}
.heti {font-family: " 黑体 "; font-size: 20pt; color: #000000; }
#id1 {color: blue; }